@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 4.5rem;
    }
  }
 

  
  .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .form-floating input {
        height: 100px;
        width: 300px; /* increase the height of input */
    }
    .form-floating:not(:last-child) {
        margin-bottom: 0.7rem; /* add gap between email and password inputs */
    }
    .form-floating input:focus {
        border-color: white !important; /* change the border color to white when focused */
        box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.934) !important; /* add white shadow when focused */
    }
    body {
        /*background: linear-gradient(to bottom right, #4a90e2, #1e5799);  */
        
        background: rgb(2,0,36);
       background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
    }


    .register-link {
        color: rgb(241, 203, 131); 
        text-decoration: none; /* Remove default underline */
      }
      
      .register-link:hover {
        color: white; /* Change color on hover */
      }